
.container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    text-align: center;
    width: 100%;
    user-select: none;
}

/* Estilo para el botón */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--bgG);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    bottom: 0;
    user-select: none;
}
.btn:hover{
    background: red;
}