.InforCole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 0;
}
.tit{
    color: var(--bgG);
    text-transform: uppercase;
    font-weight: bold;
}
.Mision,
.Vision,
.Valores {
    width: 100%;
    max-width: 100%;
    min-width: 200px;
    /* Ajusta el ancho máximo según tus necesidades */
    margin-bottom: 20px;
    /* Color de fondo para cada sección */
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

/* Estilos adicionales para hacerlo responsive */
@media screen and (min-width: 768px) {
    .InforCole {
        flex-direction: row;
        align-items: flex-start;
    }

    .Mision,
    .Vision,
    .Valores {
        width: 33%;
        /* Distribuir en tres columnas en pantallas grandes */
        margin-bottom: 0;
        margin-right: 20px;
        /* Espacio entre cada sección en pantallas grandes */
    }
}