* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #303433;
}

:root {
    --primary: #fff;
    --bg: #020240;
    --bgG: #080820;
    --bg2: #4D51B3;
    --text1: #000;
    --text2: #ffff;
    --border: #f9ce0f;
    --gris: #4e4c4c;
}

/* quitar el cosito de decremneto o incremento dle input number */
.form-control input[type="number"]::-webkit-inner-spin-button,
.form-control input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control input[type="number"] {
    -moz-appearance: textfield;
}


.conti {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.side {
    background: url('/public/assets/mancha.svg') no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
    display: flex;
    align-items: center;
    /* border-right: 3px solid var(--bg2);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; */
}

.side-img {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    margin-left: 110px;
    /* Alinea la imagen al centro horizontalmente */
}

.main {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; */
    margin-left: 10px;
}

.login-container {
    /* max-width: 450px; */
    /* padding: 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* background-color: red; */
}

.title {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    color: var(--bgG);
    margin-left: 15px;
}

.separator {
    width: 90%;
    height: 4px;
    background-color: var(--bg2);
    margin: 24px;
}

.welcome-message {
    text-align: center;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 30px;
    color: var(--gris);
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 24px;
}

.user-icon {
    position: absolute;
    left: 10px;
    /* Ajusta la posición del icono según sea necesario */
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

input {
    width: calc(100% - 20px);
    /* Considera el espacio ocupado por el icono */
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px 14px 30px;
    /* Ajusta el padding para dejar espacio para el icono */
    border-radius: 30px;
    border: none;
    outline: none;
}

input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

input {
    width: 300px;
    background: #e6e6e6aa;
    color: #333;
    letter-spacing: 0.5px;
    padding: 20px 50px;
    margin: 10px;
}

input:hover {
    border: 1px solid var(--bg2);
}

input~i {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color 0.4s;
}

input:focus~i {
    color: #843bc7;
}

button.submit {
    color: var(--primary);
    padding: 14px 64px;
    margin: 32px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, var(--bgG), var(--bg));
    cursor: pointer;
}

button.submit {
    border: 1px solid var(--border);
}

button.sumbit:hover {
    background-color: var(--bg2);

}

@media (max-width: 780px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 50px;
        margin-left: 12px;
    }

    .conti {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .side {
        display: none;
    }

    .main {
        width: 100%;
        margin-top: 200px;
        border: none;
    }

    .login-container {
        max-width: 100%;
    }

    .login-container {
        /* max-width: 450px; */
        /* padding: 10px; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .side-img {
        margin-left: 0;
        /* Elimina el margen izquierdo en dispositivos móviles */
    }
}