/* .home {
    background: rgb(5, 22, 54);
    background: linear-gradient(0deg, rgba(5, 22, 54, 1) 0%, rgb(22, 45, 128) 100%);
    height: 100vh;
    width: 100%;
    align-items: center;
    align-content: center;
    margin-top: 0;
}

h1 {
    color: red;
}
.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 2 / 3 / 3; }
.div2 { grid-area: 3 / 2 / 4 / 3; }
 */
/* styles.css */
/* 
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

Estilo para el efecto de onda
@keyframes waveAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

/* Estilo para el div con efecto de onda */
/* .WaveDiv {
  position: relative;
  background-color: #0099ff;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  animation: waveAnimation 2s infinite;
}

.WaveDiv::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230099ff' fill-opacity='1' d='M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'/%3E%3C/svg%3E") center/cover no-repeat;
} */

/* Estilo para el segundo div con color de contraste */
/* .ContrastDiv {
  background-color: #e74c3c;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
} */

/* Home.css */

.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Ajusta la altura según tus necesidades */
}

.svg-wave {
    width: 100%;
    height: auto;   
    position: absolute;
    bottom: 0;
    left: 0;
}